%h1 Moviews

- if signed_in?
  .lead
    Hi
    = self.current_user.name
    !
    What kind of movies do you like?

%table.table.table-striped
  %tr
    %th User
    %th Title
    %th Description
    %th
    %th
    %th

  - @movies.each do |movie|
    %tr
      %td= movie.user.name
      %td= link_to movie.title, movie.url
      %td= movie.description
      %td= link_to 'Show', movie
      %td= link_to 'Edit', edit_movie_path(movie)
      %td= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }

%br

- if signed_in?
  = link_to 'New Movie', new_movie_path
- else
  .lead
    if you signed in Moviewfun, you can create movie and movie's review =>
    = link_to "Sign In", "/auth/twitter"
